@import 'bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/mini.css/dist/mini-default.min.css';
.btn-toolbar {
    display: flex;
    flex-direction: row;
    margin: 10px 0 10px 0;
}

.btn-check {
    position: absolute;
}