/*@import '../node_modules/mini.css/dist/mini-default.min.css';*/


/* @import 'bootstrap/dist/css/bootstrap.min.css';
.btn-toolbar {
    display: flex;
    flex-direction: row;
    margin: 10px 0 10px 0;
}

.form-check-label {
    padding: 0
}

[type="checkbox"]:checked:before {
    content: '';
} */